{% extends 'blog/base.html' %}
{% load static %}
{% block content%}
<div class="col-sm-10">
<h3 class="text-white my-5">
About Page</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero praesentium possimus consequuntur recusandae provident totam, inventore odio, voluptas dicta commodi, distinctio sit. Provident recusandae sit iste unde iusto ipsam quibusdam fugit assumenda libero nisi voluptas numquam quia, vel deserunt quaerat maxime nam aliquid, id laborum, optio et vero. Error omnis dignissimos, odio labore eaque atque rerum quibusdam, ipsam, officia iusto voluptatem. Excepturi suscipit animi ab, mollitia dignissimos officiis facere adipisci commodi veritatis tempore nemo saepe hic ullam perferendis! Debitis in quaerat deleniti delectus porro explicabo ducimus veniam esse perferendis minus. Sapiente quidem enim beatae minima suscipit consequatur obcaecati eveniet rem.</p>
</div>





{% endblock %}